<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activities</title>
</head>
<body>

<h1>Activities of {{username}}</h1>

<table style="width:100%">
    <tr>
        <th>Nome da atividade</th>
        <th>Data inicial</th>
        <th>Data final</th>
    </tr>

    {%for activity_complete in activities %}
        <tr>
        {%for activity_part in range (1, activity_complete|length -2, 1 )%}
            {%if activity_part == 1%}
            <th><a href="/activity?username={{username}}&project_id={{project}}&activity={{activity_complete[activity_part-1]}}">{{activity_complete[activity_part]}}</a></th>
            {% else %}
            <th>{{activity_complete[activity_part]}}</th>
            {%endif%}
        {%endfor%}
        </tr>
    {%endfor%}

</table>



</body>
</html>